<div fxLayoutAlign="center center">
    <mat-card   class="view1" *ngIf="isOpen " (click)="isOpen = !isOpen">
      <div  fxLayout="row" fxLayoutAlign="space-between center" >
  
        <div>
          Take a Note
        </div>
      </div>
    </mat-card>
  <mat-card *ngIf="!isOpen " class="takeNote">
      <div  fxFlex="100" fxLayout="column">
        <div >
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="100">
             <input class="inputArea" matInput type="text" placeholder="Title" >
            </div>
            <div>
              <button mat-icon-button matSuffix (click)="hide = !hide" matTooltip="pin">
                <!-- <mat-icon>pin</mat-icon> -->
              </button>
            </div>
          </div>
  
          <div>
            <input class="inputArea" type="text" placeholder="Take a note" >
          </div>
        </div>
  
      
       
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
          <div fxFlex="60" class="icons">
            <div>
                <mat-icon style="padding: 10px;">notification_add</mat-icon>
            </div>
            <div>
                <mat-icon style="padding: 10px;">
                        manage_accounts
                </mat-icon>
            </div>
            <div>
                <mat-icon style="padding: 10px;">
                    add_photo_alternate
                </mat-icon>
            </div>
            <div>
                <mat-icon style="padding: 10px;">
                    archive
                </mat-icon>
            </div>
            <div>
                <mat-icon style="padding: 10px;">
                    more_vert
                </mat-icon>
            </div>
          <div>
            <button class="close" mat-icon-button matSuffix >close</button>
          </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  
  
  
  
  