//@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
mat-toolbar{
    background-color: white;
    color: rgb(14, 13, 13);
  
}

mat-sidenav{
    margin: 20px;
    width: 200px;
    border-right: none;
    background-color: white;
    color:gray;
    border-radius: 10px;
    border-color: white;
    padding: 16px;
    text-align: center;

}

.content{
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: rgb(114, 108, 98);
    border-radius: 20px;
}

mat-sidenav-container{
    height: calc(100vh - 65px);
}
.iconsPanel{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 2rem;
    align-items: flex-start;
    color: gray;
   
}
mat-icon{
    margin-right: 8px;
    font-size: 30px;

}
.iconsColor{
    display: flex;
}

.search {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    margin-left: 150px;
    inline-size: 700px;
   
   align-items: center;
   border-inline-color: gray ;
   
    
}
.searchIP{
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: gray;
    border: solid 2px transparent;
    inline-size: 500px;
    margin: 10px;
   
}
.headerButtons{
display: flex;
flex-direction: row;

}
.refresh{
    padding-left: 100px;
    color: rgb(160, 153, 153);
    padding-top: 10px;
}
.view_list{
    display: flex;
    padding-left: 15px;
    color: rgb(160, 153, 153);
    padding-top: 10px;
}
.apps{
    padding-left: 80px;
    color: rgb(160, 153, 153);
    padding-top: 10px;
}
.account{
    color: rgb(160, 153, 153);
    padding-top: 10px;
}
.fundoo{
    margin-left: 10px;
    font-family: 'Product Sans',Arial,sans-serif;
    font-size: 22px;
    color: rgb(88, 86, 86);
    opacity: 1;
}
