<!-- <div class="row" *ngIf="!auth">
    <div fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="5%">
        <div class="main" fxLayoutAlign="center center" fxFlex="100" fxFlexOffset.xs="0" fxFlex.xs="100">
            <mat-card fxFlex.xs="100" fxFlex.md="70" fxFlex.lg="30">
    <mat-card-title>
        <p>
            <span class="f">F</span>
            <span class="u">u</span>
            <span class="n">n</span>
            <span class="d">d</span>
            <span class="o">o</span>
            <span class="O">o</span>
        </p>
    </mat-card-title>
    <mat-card-subtitle >Forgot Password</mat-card-subtitle>
    <div>
        <mat-form-field [style.fontSize.px]="12" appearance="outline" fxFlex="100" fxFlex.xs="100">
            <mat-label>Email</mat-label>
            <input matInput type="text" placeholder="Email" formControlName="email" id="email">
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="hasError('email', 'required')">email is required</mat-error>
        </mat-form-field>
    </div>
   
    <button mat-raised-button class="loginbutton" (click)="toggleStatus()" class="btn btn-link" color="primary" >Sign Up</button>

</mat-card>
</div>
</div>
</div>
 -->
